html,
body {
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #2d2d2d;
}

header {
  background-color: #212121;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 0px 8px 15px whitesmoke;
}

main {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

h1 {
  margin: 0;
}

.card {
  flex: 1 1 50%;
  margin: 1.5rem;
  padding: 1rem;
  border: 1px white;
  display: flex;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.card img {
  width: 200px;
}

.card-body {
  padding-left: 1rem;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body ul > li {
  margin-top: 1rem;
}
