html,
body {
  color: white;
  margin: 0 auto;
  background-color: #2d2d2d;
}

header {
  position: fixed;
  width: 100%;
  background-color: #212121;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 8px 15px whitesmoke;
  display: flex;
  justify-content: space-between;
}

main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

h1 {
  margin: 0;
}

.card {
  flex: 1 1 50%;
  margin: 1.5rem;
  padding: 1rem;
  border: 1px white;
  display: flex;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.card img {
  display: block;
  margin: auto;
  width: 200px;
}

.card-body {
  padding-left: 1rem;
}

.card-body > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body > ul > li {
  margin-top: 1rem;
}

.card-body > ul > li > ul > li {
  margin-top: 0.5rem;
}

#form-title {
  flex: 1 1 auto;
}

.card form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}
:focus {
  outline: none;
}

.card form input {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.card form textarea {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#submit-button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#GitHub-Mark {
  margin-right: 50px;
}

@media (max-width: 992px) {
  .card {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}
