html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#container {
  flex: 1 1 auto;
  display: flex;
}

.outer-box {
  height: 600px;
  width: 600px;
  margin: 1em;
  flex: 1 1 auto;
  background-color: orangered;
  padding: 1em;

  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 auto;
  display: flex;
}

.box {
  flex: 1 1 auto;
  margin: 0.1em;
  background-color: lightseagreen;
}

.box2 {
  padding: 1em;
  text-align: center;
  flex: 1 1 auto;
  margin: 1em;
  background-color: lightseagreen;
}

.box3 {
  flex: 1 1 50%;
  width: 50%;
  margin: 0 auto 1em auto;
  background-color: lightseagreen;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 50%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  padding: 1em;
}

form input {
  padding: 1em;
  margin: 1em;
}

@media screen and (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  .outer-box {
    background-color: yellow;
  }
}
